.TodoList{
    width:100%;
	float:left;
    padding:15px;
    
}

.TodoItem{
    width:500px;
height:35px;
   border-radius: 5px;
   background:#fff;	
    border-width:medium;
    border-style: solid;
    box-shadow: none;
    border-color:rgb(206, 206, 201);
    padding-left: 10px;
    position: relative;
    font-size:18px;
font-weight:600;
}

.EditDelete{
    display: inline-block;
    
    
}

.MarginTodo{
    content: '';
  width: 150px;
  background: #898d8c;
  position: relative;
  margin: 0 0 0 -117px;
  top:20px;
  left: 50%;
  height: 1px;
}


.DeleteTodo{
    font-size:16px;
font-weight:500;
padding-right: 10px;
padding-left: 10px;
float: right;
cursor: pointer;
    
width:50px;
    
}

.EditTodo{
    font-size:16px;
font-weight:500;
padding-right: 10px;
padding-left: 10px;
float: right;
cursor: pointer;
width:50px;

}